/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  background-color: gray;

  grid-template-columns: 1fr;
  grid-template-rows: 40px 0.7fr 0.3fr;
  justify-content: center;
  justify-items: center;
}
/* Top bar */
.menu-bar {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  height: 40px;
  width: 100vw;
  background-color: rebeccapurple;
  font-weight: bold;
  align-content: center;
  align-items: center;
}

#drop-down {
  padding: 5px;
  grid-column: 1/2;
}

#location {
  grid-column: 2/3;
  text-align: center;
}
/* Current Wx Data */
.data {
  grid-row: 2/3;
  grid-column: 1/2;
  text-align: center;
}

/* Forecast cluster */

.forecast {
  grid-row: 3/4;
  grid-column: 1/2;
  text-align: center;
}

.menu-options {
  display: none;
  list-style-type: none;
  position: absolute;
  top: 40px;
  left: -30px;
}

.menu-options > * {
  background-color: white;
  padding: 10px;
  border: 1px solid #333;
}

.menu-options > *:hover {
  background-color: pink;
  cursor: pointer;
}

#location-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 5px;
}

.location-form {
  display: grid;
  width: min-content;
  justify-self: center;
  align-self: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 30px);
}
#location-popup h2 {
  margin-bottom: 18px;
}

.location-buttons {
  padding: 18px;
  display: flex;
  justify-content: space-evenly;
}

.forecast {
  width: 30vw;
}

.forecast > div {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 18px;
}
